*.log
.DS_Store
.env
.env.*
!.env.example
!.env.testing.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.pest.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Homestead.json
Homestead.yaml
Thumbs.db
